<!-- TMPL_INCLUDE NAME="doc-head-open.inc" -->
<title>Koha &rsaquo; Tools &rsaquo; <!-- TMPL_UNLESS name="op" -->Send a message to patrons<!-- TMPL_ELSE --><a href="/cgi-bin/koha/tools/mass-notice.pl">Send a message to patrons</a> &rsaquo; <!-- TMPL_IF name="Send" -->Messages will be sent<!-- TMPL_ELSE --><!-- TMPL_IF name="Search" -->Select patrons<!-- /TMPL_IF --><!-- /TMPL_IF --><!-- /TMPL_UNLESS --></title>

<style>
  td {
    vertical-align: top;
  }

  #fine-code-select, #circ-code-select {
    display: none;
  }
</style>
<script type="text/javascript">
//<![CDATA[
function swap_selects( value, options ) {
    for ( i in options ) {
        el_block = document.getElementById( options[i] );
        if ( i == value ) {
            el_block.style.display = "list-item";
        }
        else {
            el_block.style.display = "none";
        }
    }
}

function load_preset( option ) {
    var subject = option.getAttribute("data-preset-subject");
    var content = option.getAttribute("data-preset-content");

    var element = document.getElementById("message-subject");
    element.value = subject;

    element = document.getElementById("message-body");
    element.value = content;
}

function insert_value() {
    var selected = document.getElementById("fields");
    var to_insert = '<<' + selected.options[selected.selectedIndex].value + '>>';
    var el = document.getElementById("message-body");
    var start = el.selectionStart;
    var end = el.selectionEnd;
    var val = el.value;
    el.value = val.substring(0,start) + to_insert + val.substring(end, val.length);
    el.selectionStart = el.selectionEnd = start + to_insert.length;
    el.focus();
}
function selectAll () {
    $(".selection").attr("checked", "checked");
}
function clearAll () {
    $(".selection").removeAttr("checked");
}
//]]>
</script>

<!-- TMPL_INCLUDE NAME="doc-head-close.inc" -->
</head>
<body>

<!-- TMPL_INCLUDE NAME="header.inc" -->
<!-- TMPL_INCLUDE NAME="patron-search.inc"-->

<div id="breadcrumbs"><a href="/cgi-bin/koha/mainpage.pl">Home</a> &rsaquo; <a href="/cgi-bin/koha/tools/tools-home.pl">Tools</a> &rsaquo; <!-- TMPL_UNLESS name="op" -->Send a message to patrons<!-- TMPL_ELSE --><a href="/cgi-bin/koha/tools/mass-notice.pl">Send a message to patrons</a> &rsaquo; <!-- TMPL_IF name="Send" -->Messages will be sent<!-- TMPL_ELSE --><!-- TMPL_IF name="Search" -->Select patrons<!-- /TMPL_IF --><!-- /TMPL_IF --><!-- /TMPL_UNLESS --></div>

<div id="doc3" class="yui-t2">
    <div id="bd">
        <div id="yui-main">
<!-- TMPL_IF name="Send" -->
    <div class="yui-b">
        <div class="yui-g">
            <div class="yui-u first">
                <div class="dialog message">
                <h1>Results of sending a message</h1>
                </div>
	        <ul class="data">
                    <li><!-- TMPL_VAR NAME="emails_sent" --> Emails are going to be sent.</li>
                </ul>
                <a id="doneupload" href="/cgi-bin/koha/tools/tools-home.pl">Return to Tools</a>
            </div>
<!-- TMPL_ELSE --><!-- TMPL_IF NAME="Search" -->
    <div class="yui-b">
        <div class="yui-g">
            <div class="yui-u first">
	        <form method="post" action="/cgi-bin/koha/tools/mass-notice.pl">
                <input type="hidden" name="branch" value="<!-- TMPL_VAR NAME="branch" -->">
                <input type="hidden" name="message-subject" value="<!-- TMPL_VAR NAME="message_subject" -->">
                <input type="hidden" name="message-body" value="<!-- TMPL_VAR NAME="message_body" -->">
                <input type="hidden" name="send_to" value="<!-- TMPL_VAR NAME="send_to" -->">
                <div>
                <a href="#" onclick="selectAll(); return false;">Select All</a>
                |
                <a href="#" onclick="clearAll(); return false;">Clear All</a>
                </div>
                <table>
                    <tr><th>Name</th><th>sort1</th><th>sort2</th><th>Fines</th><th>Checked Out/Overdues</th></tr>
                    <tbody>
                    <!-- TMPL_LOOP NAME="patron_list" -->
                    <tr>
                        <td><input type="checkbox" class="selection" id="patron_<!-- TMPL_VAR NAME="borrowernumber" -->" name="patrons" value="<!-- TMPL_VAR NAME="borrowernumber" -->"> <!-- TMPL_VAR NAME="firstname" --> <!-- TMPL_VAR NAME="surname" --></td>
                        <td><!-- TMPL_VAR NAME="sort1" --></td>
                        <td><!-- TMPL_VAR NAME="sort2" --></td>
                        <td><!-- TMPL_VAR NAME="account" --></td>
                        <td><!-- TMPL_VAR NAME="overdues" --></td>
                    </tr>
                    <!-- /TMPL_LOOP -->
                    </tbody>
                </table>

                <fieldset class="action">
                    <input type="submit" name="op" value="Send" class="submit" /> <a href="/cgi-bin/koha/tools/tools-home.pl" class="cancel">Cancel</a>
                </fieldset>
            </form>
            </div>
<!-- TMPL_ELSE -->
    <div class="yui-b">
        <div class="yui-g">
            <div class="yui-u first">
                <h1>Send a message to patrons</h1>
	        <form method="post" action="/cgi-bin/koha/tools/mass-notice.pl">
	            <fieldset class="rows">
	                <ol>
                            <li><label for="branch">Branch: </label>
                            <select name="branch">
                            <!-- TMPL_LOOP NAME="branchLOOP" -->
                            <!-- TMPL_IF NAME="selected" -->
                                <option value="<!-- TMPL_VAR NAME="value" -->" selected="selected"><!-- TMPL_VAR NAME="label" --></option>
                            <!-- TMPL_ELSE -->
                                <option value="<!-- TMPL_VAR NAME="value" -->"><!-- TMPL_VAR NAME="label" --></option>
                            <!-- /TMPL_IF -->
                            <!-- /TMPL_LOOP -->
                            </select>
                            </li>

                            <li><label for="category">Patron category: </label>
                            <select name="category">
                                <option value="">Select a category</option>
                            <!-- TMPL_LOOP NAME="category_loop" -->
                            <!-- TMPL_IF NAME="selected" -->
                                <option value="<!-- TMPL_VAR NAME="categorycode" -->" selected="selected"><!-- TMPL_VAR NAME="description" --></option>
                            <!-- TMPL_ELSE -->
                                <option value="<!-- TMPL_VAR NAME="categorycode" -->"><!-- TMPL_VAR NAME="description" --></option>
                            <!-- /TMPL_IF -->
                            <!-- /TMPL_LOOP -->
                            </select>
                            </li>

                            <li>
                            <label for="send_to">Send to patrons:</label>
                            <select name="send_to" id="send_to">
                                    <option value="">Default email address</option>
                                    <option value="home">Home address</option>
                                    <option value="work">Work (Students district email) address</option>
                                    <option value="both">Home and Work email addresses</option>
                            </select>
                        </li>

                            <li>
                            <label for="message-subject">Subject: </label>
                            <input type="text" size="60" id="message-subject" name="message-subject">
			    </li>
                            <li>
                            <label for="message-body">Message: </label>
                            <table><tbody><tr>
                            <td>
                                <select name="fields" id="fields" size="15">
                                    <optgroup label="Branch">
                                    <option value="branches.branchname">Branch Name</option>
                                    <option value="branches.branchaddress1">Branch Address</option>
                                    <option value="branches.branchcity">Branch city</option>
                                    <option value="branches.branchzip">Branch Zip</option>
                                    <option value="branches.branchphone">Branch Phone</option>
                                    <option value="branches.branchemail">Branch Email</option>
                                    </optgroup>
                                    <optgroup label="Patron">
                                    <option value="borrowers.cardnumber">Patron Card Number</option>
                                    <option value="borrowers.firstname">Patron First Name</option>
                                    <option value="borrowers.surname">Patron Last Name</option>
                                    <option value="borrowers.address">Patron Address</option>
                                    <option value="borrowers.city">Patron City</option>
                                    <option value="borrowers.zipcode">Patron Zip</option>
                                    <option value="borrowers.phone">Patron Phone</option>
                                    <option value="borrowers.email">Patron Email</option>
                                    <option value="borrowers.sort1">Patron Sort 1</option>
                                    <option value="borrowers.sort2">Patron Sort 2</option>
                                    </optgroup>
                                    <optgroup label="Other">
                                    <option value="fines.content">Fines Information</option>
                                    <option value="overdue.content">Overdues Information</option>
                                    <option value="items.content">Check-outs Information</option>
                                    </optgroup>
                                </select>
                                <input type="button" name="insert" value="&gt;&gt;" onclick="insert_value()">
                            </td>
                            <td><textarea id="message-body" name="message-body" cols="80" rows="15"></textarea></td>
                            <td><h3>Presets: </h3>
                            <select name="module" onchange="swap_selects(this.options[ this.selectedIndex ].value, {'accounts':'fine-code-select','circulation':'circ-code-select'} );">
                                    <option value=""></option>
                                    <option value="accounts">Accounts (fines)</option>
                                    <option value="circulation">Circulation (overdues)</option>
                            </select>


                            <div id="circ-code-select">
                            <label for="circ-code">Circulation notice code: </label>
                            <select name="circ-code" onchange="load_preset(this.options[ this.selectedIndex ])">
                                    <option value="">Select a circulation letter</option>
                                    <!-- TMPL_LOOP NAME="circ_letter_loop" -->
                                    <option value="<!-- TMPL_VAR NAME="value" -->" data-preset-subject="<!-- TMPL_VAR NAME="subject" -->" data-preset-content="<!-- TMPL_VAR NAME="content" -->"><!-- TMPL_VAR NAME="label" --></option>
                                    <!-- /TMPL_LOOP -->
                            </select>
                            </div>

                            <div id="fine-code-select">
                            <label for="fine-code">Accounts notice code: </label>
                            <select name="fine-code" onchange="load_preset(this.options[ this.selectedIndex ])">
                                    <option value="">Select an account letter</option>
                                    <!-- TMPL_LOOP NAME="fine_letter_loop" -->
                                    <option value="<!-- TMPL_VAR NAME="value" -->" data-preset-subject="<!-- TMPL_VAR NAME="subject" -->" data-preset-content="<!-- TMPL_VAR NAME="content" -->"><!-- TMPL_VAR NAME="label" --></option>
                                    <!-- /TMPL_LOOP -->
                            </select>
                            </div>
                        </td>
                        </tr></tbody></table>
			    </li>
	                </ol>
	            </fieldset>
                    <fieldset class="rows">
                    <ol>
                        <li>
                            <label for="patron_select">Search for patrons:</label>
                            <select name="patron_select" id="patron_select">
                                    <option value="">Patrons with overdue books or fines</option>
                                    <option value="fines">Patrons with any fines</option>
                                    <option value="overdue_fines">Patrons with any overdue fines</option>
                                    <option value="issues_or_fines">Patrons with books checked out or fines</option>
                                    <option value="overdue">Patrons with any books overdue</option>
                                    <option value="due_today">Patrons with any books due today</option>
                                    <option value="issues">Patrons with any books checked out</option>
                            </select>
                        </li>
                        <li>
                            <label for="sort1_filter">Filter by sort1:</label>
                            <select name="sort1_filter" id="sort1_filter">
                                    <option value="">Any sort1 value</option><!-- TMPL_LOOP NAME="sort1_loop" -->
                                    <option value="<!-- TMPL_VAR NAME="value" -->"><!-- TMPL_VAR NAME="label" --></option>
                                    <!-- /TMPL_LOOP -->
                            </select>
                        </li>
                        <li>
                            <label for="sort2_filter">Filter by sort2:</label>
                            <select name="sort2_filter" id="sort2_filter">
                                    <option value="">Any sort2 value</option><!-- TMPL_LOOP NAME="sort2_loop" -->
                                    <option value="<!-- TMPL_VAR NAME="value" -->"><!-- TMPL_VAR NAME="label" --></option>
                                    <!-- /TMPL_LOOP -->
                            </select>
                        </li>
                        <li>
                            <label for="itype_filter">Filter by item type:</label>
                            <select name="itype_filter" id="itype_filter">
                                    <option value="">Any Item Type</option><!-- TMPL_LOOP NAME="itype_loop" -->
                                    <option value="<!-- TMPL_VAR NAME="value" -->"><!-- TMPL_VAR NAME="label" --></option>
                                    <!-- /TMPL_LOOP -->
                            </select>
                        </li>
                        <li>
                            <label for="sort_select">Sort list by:</label>
                            <select name="sort_select" id="sort_select">
                                    <option value="">Name</option>
                                    <option value="sort1">Sort1</option>
                                    <option value="sort2">Sort2</option>
                                    <option value="sort12">Sort1 and Sort2</option>
                            </select>
                        </li>
                        <li><input type="submit" name="op" value="Search" class="submit" /> <a href="/cgi-bin/koha/tools/tools-home.pl" class="cancel">Cancel</a></li>
                    </ol>
                    </fieldset>
                </form>

            </div>
<!-- /TMPL_IF -->
<!-- /TMPL_IF -->
        </div>
    </div>
</div>
<div class="yui-b noprint">
    <!-- TMPL_INCLUDE NAME="tools-menu.inc" -->
</div>
</div>
<!-- TMPL_INCLUDE NAME="intranet-bottom.inc" -->
