<!-- TMPL_INCLUDE NAME="doc-head-open.inc" -->
<title>Reading Record for <!-- TMPL_VAR NAME="firstname" --> <!-- TMPL_VAR NAME="surname" --></title>
<!-- TMPL_INCLUDE NAME="doc-head-close.inc" -->
</head>
<body>
<!-- TMPL_INCLUDE NAME="header.inc" -->
<!-- TMPL_INCLUDE NAME="patron-search.inc" -->

<div id="breadcrumbs"><a href="/cgi-bin/koha/mainpage.pl">Home</a> &rsaquo; <a href="/cgi-bin/koha/members/members-home.pl">Patrons</a>  &rsaquo; Reading Record for <!-- TMPL_VAR NAME="firstname" --> <!-- TMPL_VAR NAME="surname" --></div>

<div id="doc3" class="yui-t2">
   
   <div id="bd">
	<div id="yui-main">
	<div class="yui-b">
<!-- TMPL_INCLUDE NAME="circ-toolbar.inc" -->
<h1>Reading Record</h1>
<form action="/cgi-bin/koha/members/readingrec.pl" method="get"><input type="hidden" name="borrowernumber" id="borrowernumber" value="<!-- TMPL_VAR NAME="borrowernumber" -->" /></form>
<div style="margin:.5em 0"><!-- TMPL_IF NAME="showfulllink" -->Showing All Items |
    <a href="readingrec.pl?borrowernumber=<!-- TMPL_VAR name="borrowernumber" -->&amp;limit=50">Show Last 50 Items Only</a> |
    <form method="get" action="readingrec.pl">
    Show A Years Items Only Starting: 
    <input type="hidden" name="borrowernumber" value="<!-- TMPL_VAR name="borrowernumber" -->" />
    <input type="hidden" name="limit" value="year" />
    <select name="startmonth" onchange="this.form.submit()">
    <option value="0"></option>
    <option value="1">January</option>
    <option value="2">February</option>
    <option value="3">March</option>
    <option value="4">April</option>
    <option value="5">May</option>
    <option value="6">June</option>
    <option value="7">July</option>
    <option value="8">August</option>
    <option value="9">September</option>
    <option value="10">October</option>
    <option value="11">November</option>
    <option value="12">December</option>
    </select>
    </form>
 <!-- TMPL_ELSE -->
  <!-- TMPL_IF NAME="showyearlink" -->
    Showing This Years Items Starting:
    <form id="showyear_selected" name="showyear_selected" method="get" action="readingrec.pl">
    <input type="hidden" name="borrowernumber" value="<!-- TMPL_VAR name="borrowernumber" -->" />
    <input type="hidden" name="limit" value="year" />
    <select name="startmonth" onchange="this.form.submit()">
    <option value="1">January</option>
    <option value="2">February</option>
    <option value="3">March</option>
    <option value="4">April</option>
    <option value="5">May</option>
    <option value="6">June</option>
    <option value="7">July</option>
    <option value="8">August</option>
    <option value="9">September</option>
    <option value="10">October</option>
    <option value="11">November</option>
    <option value="12">December</option>
    </select>
    </form> |
    <!-- TMPL_IF name="showyear_selected" -->
    <script type="text/javascript">
    document.forms.showyear_selected.startmonth.options[<!-- TMPL_VAR name="showyear_selected" -->-1].selected = "selected";
    </script>
    <!-- /TMPL_IF -->
    <a href="readingrec.pl?borrowernumber=<!-- TMPL_VAR name="borrowernumber" -->&amp;limit=50">Show Last 50 Items Only</a> |
    <a href="readingrec.pl?borrowernumber=<!-- TMPL_VAR name="borrowernumber" -->&amp;limit=full">Show All Items</a>
  <!-- TMPL_ELSE -->
    Showing Last 50 Items | 
    <form method="get" action="readingrec.pl">
    Show A Years Items Only Starting: 
    <input type="hidden" name="borrowernumber" value="<!-- TMPL_VAR name="borrowernumber" -->" />
    <input type="hidden" name="limit" value="year" />
    <select name="startmonth" onchange="this.form.submit()">
    <option value="0"></option>
    <option value="1">January</option>
    <option value="2">February</option>
    <option value="3">March</option>
    <option value="4">April</option>
    <option value="5">May</option>
    <option value="6">June</option>
    <option value="7">July</option>
    <option value="8">August</option>
    <option value="9">September</option>
    <option value="10">October</option>
    <option value="11">November</option>
    <option value="12">December</option>
    </select>
    </form> |
    <a href="readingrec.pl?borrowernumber=<!-- TMPL_VAR name="borrowernumber" -->&amp;limit=full">Show All Items</a>
  <!-- /TMPL_IF -->
<!-- /TMPL_IF --></div>
<table>
<tr>
	<th>
		<a href="readingrec.pl?borrowernumber=<!-- TMPL_VAR name="borrowernumber" -->&amp;order=title&amp;limit=<!-- TMPL_VAR name="limit" -->">Title</a>
	</th>
	<th>
		<a href="readingrec.pl?borrowernumber=<!-- TMPL_VAR name="borrowernumber" -->&amp;order=author&amp;limit=<!-- TMPL_VAR name="limit" -->">Author</a>
	</th>
	<th>Call No.</th>
	<th>Barcode</th>
	<th>Number of Renewals</th>
	<th>Checked Out On</th>
	<th>Date Due</th>
	<th>
		<a href="readingrec.pl?borrowernumber=<!-- TMPL_VAR name="borrowernumber" -->&amp;order=returndate%20DESC&amp;limit=<!-- TMPL_VAR name="limit" -->">Return Date</a>
	</th>
</tr>
<!-- TMPL_LOOP name="loop_reading" -->
<!-- TMPL_UNLESS NAME="__odd__" -->
    <!-- TMPL_IF NAME="returndate" --><tr class="highlight"><!-- TMPL_ELSE --><tr class="highlight onissue"><!-- /TMPL_IF -->
<!-- TMPL_ELSE -->
    <!-- TMPL_IF NAME="returndate" --><tr><!-- TMPL_ELSE --><tr class="onissue"><!-- /TMPL_IF -->
<!-- /TMPL_UNLESS -->

            <td>
            <a href="/cgi-bin/koha/catalogue/detail.pl?biblionumber=<!-- TMPL_VAR NAME="biblionumber" -->">
                <!-- TMPL_VAR name="title" escape="html" -->
            </a> <!-- TMPL_VAR NAME="remainderoftitle" -->
        </td>

            <td>
        <!-- TMPL_VAR name="author" --></td>

            <td>
        <!-- TMPL_VAR NAME="classification" --></td>

            <td>
        <!-- TMPL_VAR NAME="barcode" --></td>

            <td>
        <!-- TMPL_VAR NAME="renewals" --></td>
			<td><!-- TMPL_IF NAME="date_due" --><!-- TMPL_VAR NAME="date_due" --><!-- TMPL_ELSE -->&nbsp;<!-- /TMPL_IF --></td>
            <td>
	<!-- TMPL_VAR NAME="issuedate" --></td>

            <td>
	<!-- TMPL_VAR NAME="date_due" --></td>

	    <td>
        <!-- TMPL_IF NAME="returndate" -->
            <!-- TMPL_VAR name="returndate" -->
        <!-- TMPL_ELSE -->
            Checked Out
        <!-- /TMPL_IF -->
	</td>
</tr>
<!-- /TMPL_LOOP -->
</table>

</div>
</div>

<div class="yui-b">
<!-- TMPL_INCLUDE NAME="circ-menu.inc" -->
</div>
</div>
<!-- TMPL_INCLUDE NAME="intranet-bottom.inc" -->
